# install python3, python2 is not supported by me
torch
torchvision
torchnet
tensorboard
tqdm
jsoncomment
matplotlib
pretty_errors
# git+https://github.com/hyliang96/PrettyErrors
# require 2.7G disk to install them
